
html{
    background-color: white;

}
h1{
    text-align: center;
    line-height: 2rem;
    font-size: 3rem;
}
h2{
    text-align: center;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.warriors{
    display: grid;
    grid-template-columns: repeat(2, 35vw);
    justify-content: center;
    padding-left: 15vw;
    padding-right: 15vw;
    z-index: -1;
    position: relative;
}

.monster-pic{

    background-image: url(../assets/images/a.png);
    min-height: 30rem;
    background-position: center center;
    background-size: cover;
}

.player-pic{
    background-image: url(../assets/images/b.png);
    min-height: 30rem;
    background-position: center center;
    background-size: cover;
}

.warriors-control{

    display: grid;
    grid-template-columns: repeat(2, 35vw);
    justify-content: center;
    padding-left: 15vw;
    padding-right: 15vw;
    margin-top: 2rem;
    column-gap: 0.5rem;

}

.combat-info{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    justify-content: center;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 1rem;
    row-gap: 0.3rem;
    column-gap: 1.3rem;

}

.combat-info p{
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
}

.p-life{
    width: 30%;
}

p:nth-child(1){
    grid-area: 1 / 1 / 2 / 1;
}

p:nth-child(2){
    grid-area: 2 / 1 / 3 / 1;
}

p:nth-child(3){
    grid-area: 1 / 2 / 2 / 2;
}

p:nth-child(4){
    grid-area: 2 / 2 / 3 / 2;
}

.warriors-control button{

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: 0;
    font-weight: 500;
    font-size: 1.9rem;
    opacity: 0.9s;
    cursor: pointer;
}

.warriors-control button:hover{
    color: red;

}

.warriors-control button:active{
        transform: translateY(0.1rem);
    
}

