.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: rgb(147, 103, 50);
}
.middle {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #e96a10;
  padding: 10px;

  row-gap: 50px;
  column-gap: 50px;
}
.box {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: rgb(147, 103, 50);
}
